<a href="https://colab.research.google.com/github/kavyaagarwal178/assignment_basic_python/blob/main/a1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ASSIGNMENT 1**

**Question 1 : L is a list defined as L= [11, 12, 13, 14].**

**(i) WAP to add 50 and 60 to L.**

**(ii)WAP to remove 11 and 13from L.**

**(iii) WAP to sort L in ascending order.**

**(iv) WAP to sort L in descending order.**

**(v) WAP to search for 13 in L.**

**(vi) WAP to count the number of elements present in L.**

**(vii) WAP to sum all the elements in L.**

**(viii) WAP to sum all ODD numbers in L.**

**(ix) WAP to sum all EVEN numbers in L.**

**(x) WAP to sum all PRIME numbers in L.**

**(xi) WAP to clear all the elements in L.**

**(xii) WAP to delete L.**

In [ ]:
# List 
L = [11,12,13,14]
print("original list is:",L)
# Add 50 and 60 to the list
L.append(50)
L.append(60)
print("List after adding two more elements:",L)
# Remove 11 and 13 from the list 
L.remove(11)
L.remove(13)
print("List after removing the elements:",L)
# Sort the elements in ascending order
L.sort()
print("List after sorting the elements in ascending order:",L)
# Sort the elements in descending order
L.sort(reverse=True)
print("List after sorting the elements in descending order:",L)
# Find the element in a list
if 13 in L :
  print("element found")
else :
  print("element not found")
# Count the number of elements in a list
size= len(L)
print("size of L is:",size)
# Find the sum of all the elements present in a list
s=0
for i in range(size):
  s=s+L[i]
print("sum of all elements is:",s)
# Find the sum of odd and even numbers in a list 
es = 0
os = 0 
for j in range(size):
  if L[j] %2 ==0 :
    es= es + L[j]
  else :
    os= os + L[j]
print("the sum of even num is:",es)
print("the sum of odd num is:",os)
# WAP to sum all the prime numbers in a list
sum = 0
for i in L :
  for val in range(2,i):
    if int(i % val) == 0:
      val = i
      break;
    if val is not i:
      sum = sum +i
print("sumo of prime number is:",sum)
# WAP to clear all the elements in L
L.clear()
print("List after clearing all the elements:",L)

original list is: [11, 12, 13, 14]
List after adding two more elements: [11, 12, 13, 14, 50, 60]
List after removing the elements: [12, 14, 50, 60]
List after sorting the elements in ascending order: [12, 14, 50, 60]
List after sorting the elements in descending order: [60, 50, 14, 12]
element not found
size of L is: 4
sum of all elements is: 136
the sum of even num is: 136
the sum of odd num is: 0
sumo of prime number is: 0
List after clearing all the elements: []

**Question 2 : D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.**

**(i) WAP to add new entry in D; key=8 and value is 8.8**

**(ii) WAP to remove key=2.**

**(iii) WAP to check weather 6 key is present in D.**

**(iv) WAP to count the number of elements present in D.**

**(v) WAP to add all the values present D.**

**(vi) WAP to update the value of 3 to 7.1.**

**(vii) WAP to clear the dictionary.**

In [ ]:
#dictionary
D= {1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print("The dictionary is:",D)
#WAP to add new entry in D; key=8 and value is 8.8
D[8]=8.8
print("Dictionary after updating the dictionary:",D)
#WAP to remove key=2
del D[2]
print("Dictionary after deleting the key:",D)
#WAP to check weather 6 key is present in D
if 6 in D.keys():
  print("Yes it is present")
else:
  print("No it is not present")
#WAP to count the number of elements present in D
print(len(D))
#WAP to update the value of 3 to 7.1.
D.update({3:7.1})
print("Dictionary after updation:",D)
# WAP to clear the dictionary.
D.clear()
print ("Clearning the dictionary:",D)

The dictionary is: {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Dictionary after updating the dictionary: {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
Dictionary after deleting the key: {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
No it is not present
5
Dictionary after updation: {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}
Clearning the dictionary: {}

**Question 3 :  S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].**

**(i) WAP to add 55 and 66 in Set S1.**

**(ii) WAP to remove 10 and 30 from Set S1.**

**(iii) WAP to check whether 40 is present in S1.**

**(iv) WAP to find the union between S1 and S2.**

**(v) WAP to find the intersection between S1 and S2.**

**(vi) WAP to find the S1 - S2.**

In [ ]:
# Set 1 and Set 2 
S1= {10,20,30,40,50,600}
S2= {40,50,60,70,80,90}
print("Set 1:",S1)
print("Set 2:",S2)
#WAP to add 55 and 66 in Set S1
S1.update((55,66))
print("SET 1 after updation is:",S1)
#WAP to remove 10 and 30 from Set S1.
S1.remove(10)
S1.remove(30)
print("SET 1 after removing the elements:",S1)
#WAP to check whether 40 is present in S1.
if 40 in S1:
  print("it is present")
else:
  print("it is not present")
#WAP to find the union between S1 and S2.
S3=S1.union(S2)
print("Union between S1 and S2:",S3)
#WAP to find the intersection between S1 and S2
S3=S1.intersection(S2)
print("Intersection between S1 and S2:",S3)
#WAP to find the S1 - S2.
S3 = S1.difference(S2)
print("Difference between S1 and S2:",S3)

Set 1: {50, 20, 40, 10, 600, 30}
Set 2: {80, 50, 70, 40, 90, 60}
SET 1 after updation is: {50, 66, 20, 55, 40, 10, 600, 30}
SET 1 after removing the elements: {50, 66, 20, 55, 40, 600}
it is present
Union between S1 and S2: {66, 70, 40, 80, 50, 20, 55, 600, 90, 60}
Intersection between S1 and S2: {40, 50}
Difference between S1 and S2: {600, 66, 20, 55}

**Question 4 : Write the following program.**

**(i) WAP to print 100 random strings whose length between 6 and 8.**

In [ ]:
#WAP to print 100 random strings whose length between 6 and 8
import random as r
import string as s 
for i in range(100):
  a=r.randint(6,8)
  values=r.sample(s.ascii_letters,a)
  values="".join(values)
  print(values)

RfykgZ
PgwvoF
eBnDSqvu
bKHSFtyG
ZpByfEu
hFkNtamp
mDHcStG
RJXQWC
tGhBETf
rSVdgIU
lKnxQD
dbncPptx
rVvAmabF
GojmZXye
DxROmPG
ryGvogbD
IQbSNhDi
FtcHSlo
GWpiJm
cWViwH
PhknzUtv
rozVjSkv
oRHjpnvY
nkNpgqyc
fNvRIsA
NvKegmC
LtfeOEv
LpGkzRN
pWchOFU
FwxAcy
kLjwWf
pVCihb
DNfOIz
lTAYPaJ
RqhNts
cwsmzXYj
nRXrtEf
nESAlJw
wAsNHe
mxbTMOH
aSLiqDcH
KCcGkB
pCoGEFQ
iwzdyAk
TdUbAJRu
mJjWlvK
msMIOF
IjGFEn
WLKsOBw
eqWGij
KxHPtD
jNoectAE
fWYhcvy
FasyRD
lDLuJPBb
XJlNIH
DQuSBkb
mcDsgG
pexFnf
xJcfWQb
yIbpUHo
KOoaBQ
JFamkM
GWLXaz
uZLmcTEN
OcgChFQH
WAZbuPpC
wTeySiR
rnGzxRP
DiTaWMl
TMYZyf
VyLecZl
nGMIZVd
HbqOMKT
RryTWdg
SmzMfb
pDZWdQ
XMgNOElQ
OYukoNQ
LmJIOYW
caQuUp
UYigWO
PFVvJoB
hMgJSeY
AhQCVW
zVEGix
MWGokq
yMYExAD
hPzqHDsZ
hBUsTMyc
eRZFWt
coFWRq
qHkKcba
cynvxb
iJGWCHEK
JIHDmkW
mhYbMc
pSchKJM
kigZYN
XFILqSQm

**(ii) WAP to print all prime numbers between 600 and 800.**

In [ ]:
#WAP to print all prime numbers between 600 and 800
for num in range(600, 800):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

**(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9**

In [ ]:
#WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9
nl=[]
for x in range(100,1001):
   if (x%7==0) and (x%9==0):
        nl.append(str(x))
print (','.join(nl))

126,189,252,315,378,441,504,567,630,693,756,819,882,945

**Question 5 : WAP to create two lists of 10 random numbers between 10 and 30; Find-**

**(i) Common numbers in the two lists**

**(ii) Unique numbers in both the list**

**(iii) Minimum in both the list**

**(iv) Maximum in both the list**

**(v) Sum of both the lists**

In [ ]:
# WAP to create two lists of 10 random numbers between 10 and 30
import random as r
l1=[]
l2=[]
for x in range(10):
  l1.append(r.randint(10,30))
  l2.append(r.randint(10,30))
print(l1)
print(l2)
#Common numbers in the two lists
c = set(l1).intersection(l2)
print(c)  
#unique elements in the two lists

#Minimum in both the list
print("minimum value:",min(l1))
print("minimum value:",min(l2))
#Maximum number in both the list
print("maximum value:",max(l1))
print("maximum value:",max(l2))
#Sum of both the lists
sum_list=[]
for i in range(0, len(l1)):
    sum_list.append(l1[i] + l2[i])
print ("After sum list is : " ,sum_list)

[26, 25, 29, 18, 10, 18, 15, 20, 14, 24]
[27, 13, 14, 13, 16, 25, 14, 15, 16, 16]
{25, 14, 15}
minimum value: 10
minimum value: 13
maximum value: 29
maximum value: 27
After sum list is :  [53, 38, 43, 31, 26, 43, 29, 35, 30, 40]

**Question 6 : WAP to create a list of 100 random numbers between 100 and 900.**

**Count and print the:**


**(i) All odd numbers**

**(ii) All even numbers**

**(iii) All prime numbers**

In [ ]:
# WAP to create a list of 100 random numbers between 100 and 900 
import random as r
l1=[]
for x in range(100):
    l1.append(r.randint(100, 900))
print("original list:",l1)  
#all odd numbers 
oddlist=[]
for n in l1:
  if n%2 !=0 :
    oddlist.append(n)
print("list of odd numbers:",oddlist)
# all even numbers 
evenlist=[]
for i in l1:
  if i%2==0:
    evenlist.append(i)
print("list of even numbers:",evenlist)
#all prime numbers
prime=[]
for j in l1:
  c=0
  for k in range(1,j):
    if j%k==0:
      c+=1
  if c==1:
    prime.append(j)
print("list of prime numbers:",prime)

original list: [391, 401, 268, 348, 820, 639, 222, 509, 664, 755, 216, 642, 792, 207, 374, 296, 271, 877, 325, 148, 428, 746, 180, 306, 553, 236, 345, 567, 596, 726, 851, 174, 120, 763, 807, 557, 117, 661, 288, 452, 133, 376, 824, 852, 474, 447, 558, 566, 497, 548, 753, 815, 398, 165, 543, 179, 371, 198, 339, 306, 885, 283, 720, 604, 126, 503, 713, 539, 496, 605, 771, 562, 364, 564, 352, 788, 172, 824, 724, 153, 213, 221, 494, 415, 457, 303, 844, 721, 627, 715, 104, 280, 224, 858, 535, 288, 176, 393, 537, 763]
list of odd numbers: [391, 401, 639, 509, 755, 207, 271, 877, 325, 553, 345, 567, 851, 763, 807, 557, 117, 661, 133, 447, 497, 753, 815, 165, 543, 179, 371, 339, 885, 283, 503, 713, 539, 605, 771, 153, 213, 221, 415, 457, 303, 721, 627, 715, 535, 393, 537, 763]
list of even numbers: [268, 348, 820, 222, 664, 216, 642, 792, 374, 296, 148, 428, 746, 180, 306, 236, 596, 726, 174, 120, 288, 452, 376, 824, 852, 474, 558, 566, 548, 398, 198, 306, 720, 604, 126, 496, 562, 364, 564, 352, 788, 172, 824, 724, 494, 844, 104, 280, 224, 858, 288, 176]
list of prime numbers: [401, 509, 271, 877, 557, 661, 179, 283, 503, 457]

**Question 7 : D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.**

**WAP to read all the keys and values from dictionary and write to the file in the given below format.**

**Key1, Value1**

**Key2, Value2**

**Key3, Value3**

In [ ]:
#dictionary 
fp=open('xyz.txt','w')
D ={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
for key,value in D.items() :
  fp.write('%s, %s'%(key,value)+"\n")
fp.close()

**Question 8 : L is a list defined as L={"One","Two","Three","Four","Five"}.**

**WAP to count the length of reach element from a list and write to the file in the given below format:**

**One, 3**

**Two, 3**

**Four, 4**

In [ ]:
# set words count and store it in the file
L={"One","Two","Three","Four","Five"}

**Question 9 : Write to the file 100 random strings whose length  between 10 and 15.**

In [ ]:
import random as r
import string as s 
fp=open('abc.txt','w')
for i in range(100):
  a=r.randint(10,15)
  values=r.sample(s.ascii_letters,a)
  values="".join(values)
  fp.write(values)

**Question 11 : WAP to calculate the time taken by a program.**

In [ ]:
# WAP to calculate the time taken by a program
import time
begin = time.time()
for i in range(4):
  print("hello")
time.sleep(1)
end = time.time()
print(f"Total runtime of the program is {end - begin}")

hello
hello
hello
hello
Total runtime of the program is 1.0038096904754639

**Question 13 : WAP to create a dictionary of student marks in five subjects and you have to find the student having maximum and minimum average marks**

In [ ]:
# WAP to create a dictionary of student marks in five subjects

In [ ]:
marks_dict = {}
for i in range(5):
    subject = input("Enter the subject: ")
    marks = input("Enter the marks: ")
    marks_dict[subject] = marks
print(marks_dict)